.slogan {
    width: 85px;
    margin-left: auto;
    margin-right: auto;
}

.white{
    color: white;
}
ion-toolbar {
    --background: black;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

ion-tab-button {
    --background-focused: white;
    --color-selected: white !important;
    --color:white;
}
/* uncomment if you want the submenu's background to be all dark */
/*ion-list{
    padding-top: 0rem;
    padding-bottom: 0rem;
    height: 100vh;
    background: #222428;
}

ion-list-header{
    background-color: white;
}*/

ion-tab-bar{
    --background: black;
}

ion-app {
    --overflow: hidden !important;
}

