<ion-app>
  <ion-header [translucent]="false">
    <ion-toolbar>
      <ion-title>
        <ion-img class="slogan" src="../../assets/icon/slogan.png"></ion-img>
      </ion-title>
      <fa-icon icon="bars" slot="start" size="2x" (click)="openMenu()" color="white" class="white"></fa-icon>
      <fa-icon icon="question-circle" slot="end" size="2x" color="white" (click)="openHelp()" class="white"></fa-icon>
    </ion-toolbar>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-tab-bar>
        <ion-tab-button>
          <fa-icon icon="user-alt" size="2x"></fa-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button>
          <fa-icon icon="thumbs-up" size="2x"></fa-icon>
          <ion-label>Suggest</ion-label>
        </ion-tab-button>

        <ion-tab-button>
          <fa-icon icon="balance-scale" size="2x"></fa-icon>
          <ion-label>Change</ion-label>
        </ion-tab-button>

        <ion-tab-button>
          <fa-icon icon="power-off" size="2x"></fa-icon>
          <ion-label>Log Out</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-toolbar>
  </ion-footer>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-content>
      <ion-list lines="none">
        <ion-list-header>Menu</ion-list-header>
        <ion-item color="dark">
          <ion-label> Settings </ion-label>
          <ion-icon name="settings" slot="end"></ion-icon>
        </ion-item>
        <ion-item color="dark">
          <ion-label> My numbers </ion-label>
          <ion-icon name="call" slot="end"></ion-icon>
        </ion-item>
        <ion-item color="dark">
          <ion-label> Privacy Policy </ion-label>
          <ion-icon name="folder-outline" slot="end" color="light"></ion-icon>
        </ion-item>
        <ion-item color="dark">
          <ion-label> Security </ion-label>
          <ion-icon name="lock-open" slot="end"></ion-icon>
        </ion-item>
        <ion-item color="dark">
          <ion-label> Log Out </ion-label>
          <ion-icon name="power" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="end" menuId="second" contentId="main">
    <ion-content>
      <ion-list lines="none">
        <ion-list-header> <strong> Customer Service: </strong> </ion-list-header>
        <ion-item color="dark">
          <ion-label> Call US </ion-label>
          <ion-icon name="call" slot="start"></ion-icon>
        </ion-item>
        <ion-item color="dark">
          <ion-label> Send an SMS </ion-label>
          <ion-icon name="chatbubble-ellipses" slot="start"></ion-icon>
        </ion-item>
        <ion-item color="dark">
          <ion-label> Send an Email </ion-label>
          <ion-icon name="mail" slot="start"></ion-icon>
        </ion-item>
        <ion-item color="dark">
          <ion-label> Buy credit </ion-label>
          <ion-icon name="card" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

</ion-app>
