.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: url(../../assets/icon/2.png) no-repeat;
  background-size: cover;
}

.header {
  padding: 1rem 1rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.759);
  color: #000;
  text-align: center;

  .title {
    margin: 0;
  }

  .sub-title {
    margin: 0;
    font-weight: 400;
    font-size: 1.0rem;
  }
}

.divider {
  height: 0;
  text-align: center;

  .logo {
    position: relative;
    top: -24px;
    color: #fff;
  }
}

.strap {
  padding: 2rem 1rem 1rem;
  background: rgba(27,27,31,0.8);
  color: #fff;
  text-align: center;

  p {
    margin: 0;
    font-weight: 400;
    font-size: 0.8rem;
  }
}

.strap-actions {
  display: flex;
  padding: .3rem 0;

  .btn {
    width: 50%;
    margin: 0 .3rem;
  }
}

.features {
  display: flex;
  flex: 1 auto;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgba(255,0,0,0.8);

  .btn-icon {
    width: 33%;
  }
}

.btn {
  display: flex;
  padding: .5rem 1rem;
  color: #fff;
  font-weight: 700;
  align-items: center;
  transition: all .3s ease-in;

  span {
    margin: auto;
  }

  &:focus {
    outline: none;
  }
}

.btn-success {
  background-color: var(--ion-color-success);

  &:hover,
  &:focus {
    background-color: darken(#2dd36f, 10);
  }
}

.btn-warning {
  background-color: var(--ion-color-warning);

  &:hover,
  &:focus {
    background-color: darken(#ffc409, 10);
  }
}

.btn-icon {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: transparent;
  border-radius: 5px;

  span {
    margin-top: .5rem;
  }

  &:hover,
  &:focus {
    background-color: transparentize(#000000, 0.8);
  }
}

.sync {
  display: inline-block;
  margin: .5rem 0;
}