<ion-content [fullscreen]="true" padding>
  <div class="container">
    <div class="header" *ngIf="choice === 'fr'">
      <h2 class="title">Narcisse NOUMEGNI</h2>
      <span class="sub-title"><fa-icon icon="map-marker-alt" size="2"></fa-icon> Douala - Cameroon</span>
    </div>

    <div class="header" *ngIf="choice === 'en'">
      <h2 class="title">WALLET</h2>
      <span class="sub-title">Fast & Simple</span>
    </div>

    <div class="divider">
      <fa-icon icon="user-circle" class="logo" size="3x"></fa-icon>
    </div>

    <div class="strap">
      <div *ngIf="choice == 'fr'">
        <p>LOCAL BALANCE : 0.00 USD</p>
        <p>JETCAMER BALANCE : 0.00 EUR</p>
        <fa-icon icon="sync" size="1x" class="sync"></fa-icon>
      </div>
      <div *ngIf="choice == 'en'">
        <p>Rates <ion-icon name="caret-down-sharp" color="success"></ion-icon><ion-icon name="caret-up-sharp" color="danger"></ion-icon></p>
        <p>0.000 XAF</p>
        <p>aaaa-mm-jj hh:mm</p>
      </div>
      <div class="strap-actions">
        <button class="btn btn-success" (click)="changeUser('fr')">
          <fa-icon icon="piggy-bank" size="2x" slot="start"></fa-icon>
          <span>Account Recharge</span>
        </button>
        <button class="btn btn-warning" (click)="changeUser('en')">
          <fa-icon icon="share-square" size="2x" slot="start"></fa-icon>
          <span>Send Money</span>
        </button>
      </div>
    </div>

    <div class="features">
      <button class="btn btn-icon">
        <fa-icon icon="money-bill-alt" size="2x"></fa-icon>
        <span>Send Money</span>
      </button>
      <button class="btn btn-icon">
        <fa-icon icon="mobile" size="2x"></fa-icon>
        <span>Airtime</span>
      </button>
      <button class="btn btn-icon">
        <fa-icon icon="print" size="2x"></fa-icon>
        <span>Payment</span>
      </button>
      <button class="btn btn-icon">
        <fa-icon icon="exchange-alt" size="2x"></fa-icon>
        <span>Transfer</span>
      </button>
      <button class="btn btn-icon">
        <fa-icon icon="chart-bar" size="2x"></fa-icon>
        <span>Transactions</span>
      </button>
      <button class="btn btn-icon">
        <fa-icon icon="credit-card" size="2x"></fa-icon>
        <span>Buy Credit</span>
      </button>
      <button class="btn btn-icon">
        <fa-icon icon="map-marked" size="2x"></fa-icon>
        <span>Local Point</span>
      </button>
      <button class="btn btn-icon">
        <fa-icon icon="wifi" size="2x"></fa-icon>
        <span>Network</span>
      </button>
      <button class="btn btn-icon">
        <fa-icon icon="cart-arrow-down" size="2x"></fa-icon>
        <span>Marketplace</span>
      </button>
    </div>
  </div>
</ion-content>

